<!DOCTYPE html>
<html>

<head>
    <title>Demo Beautiful Registration Form with HTML5 and CSS3</title>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="demo.css" media="all" />
</head>

<body>
    <div class="container">

        <header>
            <h1><span>Quentinha's</span> Cadastro de cliente</h1>
        </header>
        <div class="form">
            <form id="contactform" action="http://localhost:3000/user/insert" method="post">
                <p class="contact"><label for="name">Nome:</label></p>
                <input id="name" name="name" placeholder="Nome" required="" tabindex="1" type="text">

                <p class="contact"><label for="email">CPF:</label></p>
                <input id="email" name="cpf" placeholder="CPF" required="" type="text">

                <p class="contact"><label for="email">E-mail:</label></p>
                <input id="email" name="email" placeholder="E-mail" required="" type="text">

                <p class="contact"><label for="username">Telefone:</label></p>
                <input id="username" name="tel" placeholder="Telefone" required="" tabindex="2" type="text">

                <p class="contact"><label for="password">Crie uma senha:</label></p>
                <input type="password" id="password" name="password" required="">

                <p class="contact"><label for="repassword">Confirme sua senha:</label></p>
                <input type="password" id="repassword" name="repassword" required="">

                <script src="validar.js"></script>

                <input class="buttom" name="submit" id="submit" tabindex="5" value="Concluído" type="submit">
            </form>
        </div>
    </div>

</body>

</html>