<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Theming - Semantic</title>

    <!--- Site CSS -->
    <link rel="stylesheet" type="text/css" href="../dist/components/reset.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/site.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/grid.css">

    <!--- Component CSS -->
    <link rel="stylesheet" type="text/css" href="../dist/components/icon.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/button.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/card.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/label.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/image.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/reveal.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/dimmer.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/rating.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/transition.css">
    <link rel="stylesheet" type="text/css" href="../dist/components/popup.css">

    <!--- Component JS -->
    <script src="../assets/library/jquery.min.js"></script>
    <script src="../assets/library/iframe-content.js"></script>
    <script type="text/javascript" src="../dist/components/popup.js"></script>
    <script type="text/javascript" src="../dist/components/dimmer.js"></script>
    <script type="text/javascript" src="../dist/components/rating.js"></script>
    <script type="text/javascript" src="../dist/components/transition.js"></script>

    <!--- Show Names -->


    <!--- Example CSS -->
    <style>
        body {
            padding: 1em;
        }
    </style>

</head>

<body>

    <div class="ui card">
        <div class="blurring dimmable image">
            <img src="../assets/images/wireframe/image.png">
        </div>
        <div class="content">
            <div class="header">
                <span id="name_">Name</span>
            </div>
            <div class="meta">
                <span class="date" id="email_">E-mail</span>
                <span class="date"></span>
            </div>
        </div>
        <div class="extra content">
            <div class="">
                <input type="submit" class="ui mini teal button" value="Editar perfil">
            </div>
        </div>
    </div>

</body>

</html>