<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Profile | User</title>

    <!--- Site CSS -->
    <link rel="stylesheet" type="text/css" href="/dist/components/reset.css">
    <link rel="stylesheet" type="text/css" href="/dist/components/site.css">
    <link rel="stylesheet" type="text/css" href="/dist/components/grid.css">

    <!--- Component CSS -->
    <link rel="stylesheet" type="text/css" href="/dist/components/icon.css">
    <link rel="stylesheet" type="text/css" href="/dist/components/button.css">
    <link rel="stylesheet" type="text/css" href="/dist/components/card.css">
    <link rel="stylesheet" type="text/css" href="/dist/components/label.css">
    <link rel="stylesheet" type="text/css" href="/dist/components/image.css">
    <link rel="stylesheet" type="text/css" href="/dist/components/reveal.css">
    <link rel="stylesheet" type="text/css" href="/dist/components/dimmer.css">
    <link rel="stylesheet" type="text/css" href="/dist/components/rating.css">
    <link rel="stylesheet" type="text/css" href="/dist/components/transition.css">
    <link rel="stylesheet" type="text/css" href="/dist/components/popup.css">

    <link rel="stylesheet" type="text/css" href="/dist/components/divider.css">
    <link rel="stylesheet" type="text/css" href="/dist/components/segment.css">
    <link rel="stylesheet" type="text/css" href="/dist/components/form.css">
    <link rel="stylesheet" type="text/css" href="/dist/components/input.css">
    <link rel="stylesheet" type="text/css" href="/dist/components/button.css">
    <link rel="stylesheet" type="text/css" href="/dist/components/list.css">
    <link rel="stylesheet" type="text/css" href="/dist/components/message.css">
    <link rel="stylesheet" type="text/css" href="/dist/components/icon.css">

    <link rel="stylesheet" type="text/css" href="/dist/components/container.css">
    <link rel="stylesheet" type="text/css" href="/dist/components/grid.css">
    <link rel="stylesheet" type="text/css" href="/dist/components/header.css">
    <link rel="stylesheet" type="text/css" href="/dist/components/image.css">
    <link rel="stylesheet" type="text/css" href="/dist/components/menu.css">

    <link rel="stylesheet" type="text/css" href="/dist/components/reset.css">

    <link rel="stylesheet" type="text/css" href="/dist/components/reset.css">
    <link rel="stylesheet" type="text/css" href="/dist/components/site.css">
    <link rel="stylesheet" type="text/css" href="/dist/components/grid.css">

    <!--- Component CSS -->
    <link rel="stylesheet" type="text/css" href="/dist/components/icon.css">
    <link rel="stylesheet" type="text/css" href="/dist/components/table.css">
    <link rel="stylesheet" type="text/css" href="/dist/components/button.css">
    <link rel="stylesheet" type="text/css" href="/dist/components/transition.css">
    <link rel="stylesheet" type="text/css" href="/dist/components/popup.css">

    <!--- Component JS -->
    <script src="../assets/library/jquery.min.js"></script>
    <script src="../assets/library/iframe-content.js"></script>
    <script type="text/javascript" src="/dist/components/popup.js"></script>
    <script type="text/javascript" src="/dist/components/transition.js"></script>

    <script src="/assets/library/jquery.min.js"></script>
    <script src="/assets/library/iframe-content.js"></script>
    <script type="text/javascript" src="/dist/components/popup.js"></script>
    <script type="text/javascript" src="/dist/components/dimmer.js"></script>
    <script type="text/javascript" src="/dist/components/rating.js"></script>
    <script type="text/javascript" src="/dist/components/transition.js"></script>
    <script src="/scripts/js/jquery.min.js"></script>

    <script src="assets/library/jquery.min.js"></script>
    <script src="/dist/components/form.js"></script>
    <script src="/dist/components/transition.js"></script>

    <!--- Show Names -->


    <!--- Example CSS -->
    <style>
        body {
            background-color: #DADADA;
        }
        
        body>.grid {
            height: 50%;
        }
        
        .image {
            margin-top: -100px;
        }
        
        .column {
            max-width: 600px;
        }
        
        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
        
        #conteudo {
            position: absolute;
            margin-left: 5px;
            margin-top: 30px;
        }
    </style>

    <script>
        $(document).ready(function() {
            //document.getElementById('a').innerHTML = "TESTE"
            $.get("/api/user/home", function(data) {
                //alert(JSON.stringify(data));
                document.getElementById("name_").innerHTML = data.profile.name
                document.getElementById("email_").innerHTML = data.profile.email
                document.getElementById("tel_").innerHTML = data.profile.tel
            })

            $.get("/api/user/restaurantsOnline", function(dados) {
                //alert(JSON.stringify(data));
                //alert(dados.length)
                for (var i = 0; dados.length > i; i++) {
                    //Adicionando registros retornados na tabela
                    $('#tabela').append('<tr><td>' + dados[i].restaurant[i].name + '</td><td>' + dados[i]._id + '</td><td>' + dados[i].restaurant[i].localization + '</td><td>' + dados[i].restaurant[i].tel + '</td><td>' + dados[i].restaurant[i].email + '</td></tr>');
                    //$('#tabela').append('<tr><td>' + dados[i].restaurant.name + '</td><td>' + dados[i]._id + '</td><td>' + dados[i].restaurant.localization + '</td><td>' + dados[i].restaurant.tel + '</td><td>' + dados[i].restaurant.email + '</td></tr>');
                }
            })

        })
    </script>

</head>

<body>

    <div class="ui borderless main menu">
        <div class="ui text container">
            <div class="header item">
                <img class="logo" src="/images/logo.png"> Quentinha's
            </div>
            <a href="/" class="item">Inicio</a>
            <a href="#" class="item">Sobre</a>
            <a href="/api/user/logout" class="item">Sair</a>
        </div>
    </div>
    <div id="conteudo">
        <table class="ui padded celled left aligned table">
            <thead>
                <th class="left aligned">Restaurante</th>
                <th>CNPJ</th>
                <th>Localização</th>
                <th>Telefone</th>
                <th>E-mail</th>
            </thead>
            <tbody id="tabela">
            </tbody>
        </table>
        <div style="padding-top: 100px">
            <div class="ui card">
                <div class="blurring dimmable image">
                    <img src="/images/elliot.jpg">
                </div>
                <div class="content">
                    <div class="header">
                        <span id="name_">Name</span>
                    </div>
                    <div class="meta">
                        <span class="date" id="email_">E-mail</span>
                    </div>
                    <div class="meta">
                        <span class="date" id="tel_">Tel</span>
                    </div>
                </div>
                <div class="extra content">
                    <div class="">
                        <input type="submit" class="ui mini teal button" value="Editar perfil">
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>